<!-- customer -->
<div class="input-group cust-info">
  <span class="input-group-addon cust-title">客戶編號</span>
  <input type="text" class="form-control" placeholder="客戶編號">
</div>
<div class="input-group cust-info">
  <span class="input-group-addon cust-title">客戶名稱</span>
  <input type="text" class="form-control" placeholder="客戶名稱">
</div>
<div class="input-group cust-info">
  <span class="input-group-addon cust-title">電 話</span>
  <input type="text" class="form-control" placeholder="電    話">
</div>
<div class="input-group cust-info">
  <span class="input-group-addon cust-title">行動電話</span>
  <input type="text" class="form-control" placeholder="行動電話">
</div>
<div class="input-group cust-info">
  <span class="input-group-addon cust-title">生 日</span>
  <input type="text" class="form-control" placeholder="生    日">
</div>
<div class="input-group cust-info">
  <span class="input-group-addon cust-title">建檔日期</span>
  <input type="text" class="form-control" placeholder="建檔日期">
</div>
<div class="input-group cust-info">
  <span class="input-group-addon cust-title">性 別</span>
  <input type="text" class="form-control" placeholder="性    別">
</div>
<div class="input-group cust-info">
  <span class="input-group-addon cust-title">郵遞區號</span>
  <input type="text" class="form-control zip-code" placeholder="郵遞區號">
  <span class="input-group-addon district">城市地區</span>
</div>
<div class="input-group cust-info">
  <span class="input-group-addon cust-title">地 址</span>
  <input type="text" class="form-control" placeholder="地    址">
</div>
<div class="input-group cust-info">
  <span class="input-group-addon cust-title">備註說明</span>
  <textarea type="text" class="form-control" rows="3" placeholder="備註說明">
  </textarea>
</div>
<div class="cust-info">
  <a href="#" class="btn btn-danger" role="button">
    新增訂單
  </a>
</div>
