<app-header></app-header>
<!--  -->
<div class="container no-padding">
  <!-- toolbar -->
  <app-toolbar></app-toolbar>
  <!-- main data section -->
  <!-- Nav tabs -->
  <ul class="nav nav-tabs bg-gray" role="tablist">
    <li class="active">
      <a routerLink="/order">
        <i class="icon-basket-1"></i>門市作業</a>
    </li>
    <li>
      <a routerLink="/customers">
        <i class="icon-users-1"></i>客戶資料</a>
    </li>
    <li>
      <a routerLink="/words">
        <i class="icon-book-2"></i>詞庫設定</a>
    </li>
  </ul>

  <router-outlet></router-outlet>

</div>
<app-footer></app-footer>
