<app-header></app-header>
<!--  -->
<div class="container no-padding">
  <!-- toolbar -->
  <app-toolbar></app-toolbar>
  <!-- main data section -->
  <!-- Nav tabs -->
  <ul class="nav nav-tabs bg-gray" role="tablist">
    <li [ngClass]="{'active': tab[0]}">
      <a routerLink="/order" (click)="setTabStatus(0)">
        <i class="icon-basket-1"></i>門市作業</a>
    </li>
    <li [ngClass]="{'active': tab[1]}">
      <a routerLink="/customers" (click)="setTabStatus(1)">
        <i class="icon-users-1"></i>客戶資料</a>
    </li>
    <li [ngClass]="{'active': tab[2]}">
      <a routerLink="/words" (click)="setTabStatus(2)">
        <i class="icon-book-2"></i>詞庫設定</a>
    </li>
  </ul>
  <div class="tab-padding"></div>
  <!-- <a routerLink="/order">門市作業</a>
  <a routerLink="/customers">客戶資料</a>
  <a routerLink="/words">詞庫設定</a> -->
  <router-outlet></router-outlet>

  <!-- <div class="sheet" id="order">
    <app-order></app-order>
  </div>
  <div class="customer clearfix" id="customer">
    <app-customers></app-customers>
  </div>
  <div class="words" id="words">
    <app-words></app-words>
  </div> -->
</div>
<app-footer></app-footer>
