<app-header></app-header>
<!--  -->
<div class="container no-padding">
  <!-- toolbar -->
  <app-toolbar></app-toolbar>
  <!-- main data section -->
  <div role="tabpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs bg-gray" role="tablist">
      <li role="presentation" class="active">
        <a href="#order" aria-controls="order" role="tab" data-toggle="tab">
          <i class="icon-basket-1"></i>門市作業</a>
      </li>
      <li role="presentation">
        <a href="#customer" aria-controls="customer" role="tab" data-toggle="tab">
          <i class="icon-users-1"></i>客戶資料</a>
      </li>
      <li role="presentation">
        <a href="#words" aria-controls="words" role="tab" data-toggle="tab">
          <i class="icon-book-2"></i>詞庫設定</a>
      </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- sheet order -->
      <div role="tabpanel" class="tab-pane active" id="order">
        <div class="sheet">
          <!-- sheet master -->
          <app-sheet></app-sheet>
          <!-- sheet detail -->
          <app-detail></app-detail>
        </div>
      </div>
      <!-- customer info -->
      <div role="tabpanel" class="tab-pane" id="customer">
        <div class="customer clearfix">
          <div class="col-xs-12 col-sm-3">
            <!-- listing customer -->
            <app-list></app-list>
          </div>
          <div class="col-xs-12 col-sm-9">
            <!-- customer -->
            <app-customer></app-customer>
          </div>
        </div>
      </div>
      <!-- words setting -->
      <div role="tabpanel" class="tab-pane" id="words">
        <div class="words">
          <div class="clearfix">
            <div class="col-sx-12 col-sm-6 words-info">
              <!-- frames -->
              <app-frames></app-frames>
            </div>
            <div class="col-sx-12 col-sm-6 words-info">
              <!-- glasses -->
              <app-glasses></app-glasses>
            </div>
          </div>
          <div class="clearfix">
            <div class="col-sx-12 col-sm-6 words-info">
              <!-- address -->
              <app-address></app-address>
            </div>
            <div class="col-sx-12 col-sm-6 words-info">
              <!-- zipcode -->
              <app-zipcode></app-zipcode>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
