<!-- footer company info -->
<nav class="navbar navbar-fixed-bottom" role="navigation">
  <div class="container bg-light-gray">
    <ul class="navbar-nav nav">
      <li>
        <a href="https://goo.gl/maps/HfYGMfTH3ZS2" target="_blank">
          <i class="icon-home-circled"></i> 高雄市左營區實踐路24號</a>
      </li>
      <li>
        <a href="tel:075831303">
          <i class="icon-phone-circled"></i> 07-5831303</a>
      </li>
      <li>
        <a href="https://www.facebook.com/monglasses/">
          <i class="icon-facebook-circled"></i> 萌萌眼鏡</a>
      </li>
    </ul>
  </div>
</nav>
